rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

		function isSignedIn() {
      return request.auth != null;
    }

		function userExists() {
        return isSignedIn() && get(/databases/$(database)/documents/sessions/$(request.auth.uid)).data.isActive == true;
		}
      
   match /users/{userId} {
    
      function isUserHasPermission() {
        return isSignedIn() && request.resource.id == get(/databases/$(database)/documents/sessions/$(request.auth.uid)).data.accountId 
        && 
        get(/databases/$(database)/documents/sessions/$(request.auth.uid)).data.isActive == true;
      }

      allow create: if isUserHasPermission();
      allow delete: if isUserHasPermission();
      allow read: if isSignedIn();
      allow update: if isUserHasPermission();
    }

    match /rooms/{roomId} {
    
      allow create: if userExists() && request.resource.data.userIds != null && get(/databases/$(database)/documents/sessions/$(request.auth.uid)).data.accountId in request.resource.data.userIds;
      allow read: if userExists() && resource.data.userIds != null && get(/databases/$(database)/documents/sessions/$(request.auth.uid)).data.accountId in resource.data.userIds;
      
			allow update : if userExists() && get(/databases/$(database)/documents/sessions/$(request.auth.uid)).data.accountId in get(/databases/$(database)/documents/rooms/$(roomId)).data.userIds;
			
      allow delete: if false;

      match /messages/{messageId} {
        function isUserInRoomUsingGet() {
          return isSignedIn() &&  get(/databases/$(database)/documents/sessions/$(request.auth.uid)).data.accountId in get(/databases/$(database)/documents/rooms/$(roomId)).data.userIds;
        }

        function isMessageCorrect() {
          return request.resource.data.authorId is string && request.resource.data.createdAt is timestamp;
        }
        
        function userExists() {
        	return isSignedIn() && get(/databases/$(database)/documents/sessions/$(request.auth.uid)).data.isActive == true;
        }

        allow create : if isMessageCorrect() && userExists() && get(/databases/$(database)/documents/sessions/$(request.auth.uid)).data.accountId == request.resource.data.authorId;
				
        allow read :if userExists() && get(/databases/$(database)/documents/sessions/$(request.auth.uid)).data.accountId in get(/databases/$(database)/documents/rooms/$(roomId)).data.userIds;
			
      	allow delete,update : if false;

      }
    }
  }
}